body {
    background-color: #e1eedd;
    font-family: "Appercu", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #183a1d;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #800000;
}

.main {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    width: 250px;
    height: auto;
}

.recipe {
    text-align: center;
    font-family: Helvetica, Arial, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.recipe-pic {
    display: inline-block;
}

ul {
    list-style-type: none;
}

#para {
    text-align: center;
    font-size: 30px;
}