body {
    background-color: hsl(28, 58%, 98%);
    font-family: "Appercu", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(250, 18%, 19%);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

.main {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    width: 250px;
    height: auto;
}

.recipe {
    text-align: center;
    font-family: Helvetica, Arial, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.recipe-pic {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

ul {
    list-style-type: none;
}

#para {
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    color:hsl(250, 18%, 19%);
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}